<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.firatnet.businessapp">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".app.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".activities.VoiceActivity"
            android:parentActivityName=".activities.MainActivity" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713" />

        <activity
            android:name=".activities.SaveTTSActivity"
            android:label="@string/title_activity_save_tts"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.SearchForBusinessActivity"
            android:label="@string/title_activity_search_business" />
        <activity
            android:name=".activities.BusinessDetailsActivity"
            android:label="@string/title_activity_business_details" />
        <activity
            android:name=".activities.SearchMp3FilesActivity"
            android:label="@string/title_activity_search_Mp3_files" />
        <activity
            android:name=".activities.SettingActivity"
            android:label="@string/title_activity_setting"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.PlayMp3FilesActivity" />
        <activity android:name=".activities.SaveBusinessActivity" />
        <activity android:name=".activities.UploadeMp3FileActivity" />
        <activity
            android:name=".activities.Mp3FilesActivity"
            android:label="@string/title_activity_mp3_files" />
        <activity
            android:name=".activities.ImagesViewerActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.EditMyProfileActivity" />
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.RegisterActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".phoneauth.PhoneNumberAuthActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".phoneauth.VerifyPhoneActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.ProfileActivity" />
        <activity
            android:name=".classes.GalleryUtil"
            android:theme="@style/AppTheme.NoActionBar" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>